<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header/head :: head"></head>

<header th:replace="header/header :: header"></header>
<body class="bg-gray-200">
<!-- Main Content -->
<main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 ">

    <!-- Sección SIFONAVI -->
    <section class="py-8">
        <h1 class="text-3xl font-bold mb-6">SIFONAVI</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6"
             th:include="tarjeta :: tarjeta(${highRelevanceCards})"></div>
    </section>

    <section class="py-8">
        <h1 class="text-3xl font-bold mb-6">EXTERNOS</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6"
             th:include="tarjeta :: tarjeta(${mediumRelevanceCards})"></div>
    </section>

    <section class="py-8">
        <h1 class="text-3xl font-bold mb-6">OTROS</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6"
             th:include="tarjeta :: tarjeta(${lowRelevanceCards})"></div>
    </section>

</main>
<footer th:replace="footer/footer :: footer"></footer>
</body>

</html>
