<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tarjeta(cards)">
    <div th:each="card : ${cards}"
         class="bg-white overflow-hidden shadow rounded-lg hover:shadow-xl transform hover:scale-105 transition duration-300 ease-in-out p-4">
        <div class="flex flex-col items-center justify-center h-full">
            <div class="w-full text-center">
                <h5 class="text-lg font-medium text-gray-900 mb-2" th:text="${card.title}"></h5>
                <a th:href="${card.url}" target="_blank" aria-label="Ir al enlace de [[${card.title}]]"
                   class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 group">
                    Enlace
                    <svg class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
