<!DOCTYPE html>
<header class="bg-white shadow">
    <!-- Contenedor del encabezado que incluye la imagen y el texto alineados horizontalmente -->
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex items-center justify-between">
        <!-- Imagen del encabezado -->
        <img th:src="@{/assets/img/logo_fonavi_largo.png}" alt="Encabezado">

        <!-- Título del encabezado -->
        <h1 class="text-3xl font-bold text-gray-700 text-center" >Aplicativos Secretaría Técnica Fonavi</h1>
    </div>

    <!-- Contenido debajo del encabezado -->
</header>
