<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <link th:href="@{/css/css2.css}" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">-->
    <link rel="icon" th:href="@{/assets/img/favicon.ico}" type="image/x-icon">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
